@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Testing Purposes</h1>
    <div id="app">
        {{ message }}
    </div>
    <br />
    <div id="app-2">
        @* v- is called directive has multiple attributes *@
        <span v-bind:title="message">
            Hover mouse to see dynamically bound title!
        </span>
    </div>
</div>